* {
    margin: 0;
    padding: 0;
}

.button {
    border: none;
    color: white;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black;
    border: 3px solid black;
    border-radius: 9999px;
}
  
.button1:hover {
    background-color: black;
    color: white;
}

.button2 {
    background-color: blueviolet; 
    border: 2px solid blueviolet;
    padding: 3px 400px;
    border-radius: 9999px;
    cursor: auto;
}

.button3 {
    background-color: #817878; 
    border: 2px solid #817878;
    padding: 3px 300px;
    border-radius: 9999px;
    cursor: auto;
}

.button4 {
    background-color: blueviolet; 
    border: 2px solid blueviolet;
    padding: 3px 400px;
    border-radius: 9999px;
    cursor: auto;
}

.button5 {
    background-color: #817878; 
    border: 2px solid #817878;
    padding: 3px 25px;
    border-radius: 9999px;
    cursor: auto;
}

.button6 {
    background-color: blueviolet; 
    border: 2px solid blueviolet;
    padding: 14px 25px;
    border-radius: 9999px;
}

.button6:hover {
    background-color: #531EB1;
    color: white;
}

.button7 {
    background-color: blueviolet; 
    border: 2px solid blueviolet;
    padding: 15px 30px;
    border-radius: 9999px;
}

.button7:hover {
    background-color: #531EB1;
    color: white;
}

.button8 {
    background-color: blueviolet; 
    border: 2px solid blueviolet;
    padding: 15px 25px;
    border-radius: 9999px;
}

.button8:hover {
    background-color: #531EB1;
    color: white;
}

/*
Macbook Air page buttons
*/

.button9 {
  background-color: blueviolet; 
  border: 2px solid blueviolet;
  padding: 15px 25px;
  border-radius: 9999px;
}

.button9:hover {
  background-color: #531EB1;
  color: white;
}

footer{
    background-color: black;
    text-align: center;
}